* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root,
input,
button {
  font-family: "Montserrat";
}

body {
  background: #0f1216 url(./assets/background.png) no-repeat center/cover;
  min-height: 100vh;
  color: #e1e1e6;
  display: grid;
  place-items: center;
  gap: 16px;
}

main {
  display: grid;
  gap: 1.25rem;
  max-width: 368px;
}

header {
  display: grid;
  justify-items: center;
  gap: 16px;
  margin-bottom: 3rem;
}

section {
  background: #191d24;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 1.5rem;
  border: 1px solid #21252c;
  border-radius: 15px;
  margin: 20px 0;
}

h1 {
  text-align: center;
  font-family: "Oxanium";
  font-size: 2.5rem;
  color: #c8d0da;
  line-height: 100%;
}

h1 div {
  color: #6f9de2;
}

h2 {
  font-family: "Oxanium";
  font-size: 1.5rem;
  font-weight: 600;
  color: #c8d0da;
}

h3 {
  font-family: "Oxanium";
  color: #c8d0da;
  font-size: 1.25rem;
  font-weight: 600;
}

p {
  font-size: 0.875rem;
  color: #95a1b1;
  line-height: 160%;
}

#about {
  flex-direction: column;
}

#title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#title span {
  color: #9871f3;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 0.75rem;
  font-weight: 600;
}

#subscription {
  background: #191d24;
  display: flex;
  flex-direction: column;
}

#fields {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
}

#stats {
  text-align: center;
  padding: 1.25rem;
  position: relative;
}

#stats::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(./assets/badge-check.svg) no-repeat;
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
}

#stats p {
  color: #95a1b1;
}
h3 {
  color: #9871f3;
}

button {
  color: #6f9de2;
  background: #2a313c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 10px;
  height: 3rem;
  width: 100%;
  padding: 0 1.5rem;

  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background: #6f9de2;
  color: #2a313c;
}
button:hover .icon-hover {
  fill: #2a313c;
}

.input-group {
  background: #13161b;
  color: #6f7d90;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  height: 3rem;
  padding: 0 1.5rem;
  border: 1px solid #21252c;
  border-radius: 10px;
  justify-content: start;
  width: 100%;
}

.input-group:focus-within {
  outline: 2px solid white;
}

input {
  background: none;
  border: none;
  width: 100%;
  outline: none;
}

input::placeholder {
  line-height: 160%;
  color: #6f7d90;
}

.link {
  color: #dae4f2;
}

.page-invite main {
  text-align: center;
}
